main.create-comic {
    color: #003f5a;
    background: white;
    .hero {
        color: white;
        height: 20rem;
        background-image: url("/img/jumbotron.jpg");
        background-position: top center;
        background-size: cover;
        position: relative;
        .active-series {
          position: absolute;
          transform: translateY(50%);
          bottom: 0;
          font-size: 0.9rem;
          font-weight: 700;
          padding: 0.5rem 1rem;
          border-radius: 1px;
          background-color: #0282f9;
        }
    }
    .more {
        padding: 1rem 0;
        text-align: end;
    }
    .form {
        gap: 0.8rem;
        padding: 1rem 0 2rem;
        form {
            padding: 1rem;
            border-radius: 5px;
            border: 2px solid #0282f9;
            width: 500px;
            margin-inline: auto;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .input {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                input {
                    padding: 0.35rem;
                }
            }
            button {
                margin-top: 0.5rem;
                align-self: end;
                border-radius: 5px;
                width: fit-content;
            }
        }
    }
    button {
        border: none;
        border-radius: 1px;
        color: white;
        font-size: 0.8rem;
        font-weight: 700;
        padding:  0.5rem 1.5rem;
        background: #0282f9;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            box-shadow: inset 0px 0px 0 2px #155591;
            border-radius: 5px;
        }
    }
  }